.workflow-stage__card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.workflow-stage__number {
  color: var(--color-orange);
  margin-bottom: 3.8rem;
}

.workflow-stage__title {
  width: 89.47%;
  margin-bottom: 4.3rem;
}

.workflow-stage__title--dark {
  color: var(--color-cream);
}

.workflow-stage__description--dark {
  color: var(--color-cream);
}

@media only screen and (max-width: 900px) {
  .workflow-stage__number {
    margin-bottom: 4.2rem;
  }

  .workflow-stage__title {
    width: 100%;
    font-size: 2.8rem;
    line-height: 3.2rem;
    margin-bottom: 3.9rem;
  }

  .workflow-stage__description {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

@media only screen and (max-width: 650px) {
  .workflow-stage__title {
    font-size: 2.6rem;
  }

  .workflow-stage__description {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 550px) {
  .workflow-stage__card {
    /* flex: 1; */
    align-items: center;
  }

  .workflow-stage__number {
    margin-bottom: 2.4rem;
  }

  .workflow-stage__title {
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 2.4rem;
  }

  .workflow-stage__description {
    font-size: 1.5rem;
    text-align: center;
  }
}
