.container {
  width: 128rem;
}

@media only screen and (max-width: 1440px) {
  .container {
    width: 88.89%;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    width: 89.58%;
  }
}

@media only screen and (max-width: 550px) {
  .container {
    width: 87.2%;
  }
}