.footer {
  width: 100%;
  padding: 4.8rem 6.64%;
  background-color: var(--color-footer);
  display: flex;
  align-items: center;
}

.footer__nav {
  margin: 0 auto 0 9.28%;
}

.footer__nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.3rem;
}

.footer__nav-link {
  transition: all 0.3s;
}

.footer__nav-link:hover {
  color: var(--color-cream);
}

.footer__media-links {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.footer__media-img {
  cursor: pointer;
  transition: all 0.3s;
}

.footer__media-img:hover {
  transform: translateY(-2px) scale(1.15);
  filter: brightness(0) saturate(100%) invert(94%) sepia(9%) saturate(1519%)
    hue-rotate(311deg) brightness(108%) contrast(104%);
}
