.commitment {
  padding: 16.8rem 6.64%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 11.26%;
}

.commitment__image {
  width: 40.09%;
  height: 47rem;
  object-fit: cover;
  border-radius: 0.8rem;
}

.commitment__text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 48.65%;
}

.commitment__heading {
  margin-bottom: 3.2rem;
}

.commitment__description {
  opacity: 0.8;
}

@media only screen and (max-width: 1050px) {
  .commitment {
    padding: 14.4rem 0;
    gap: 10%;
  }

  .commitment__image {
    width: 40.66%;
  }

  .commitment__text-container {
    width: 49.34%;
  }
}

@media only screen and (max-width: 900px) {
  .commitment {
    align-items: flex-start;
  }

  .commitment__image {
    width: 40.78%;
    min-width: 23rem;
  }

  .commitment__text-container {
    width: 49.22%;
  }

  .commitment__heading {
    font-size: 3.2rem;
    margin-bottom: 3rem;
  }

  .commitment__description {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

@media only screen and (max-width: 700px) {
  .commitment {
    gap: 5%;
  }

  .commitment__text-container {
    width: 54.22%;
  }

  .commitment__heading {
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
  }
}

@media only screen and (max-width: 550px) {
  .commitment {
    padding: 12rem 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 4.8rem;
  }

  .commitment__image {
    width: 100%;
    min-width: none;
    height: 40rem;
    object-fit: cover;
  }

  .commitment__text-container {
    align-items: center;
    width: 100%;
  }

  .commitment__heading {
    font-size: 3.2rem;
    margin-bottom: 3rem;
  }

  .commitment__description {
    text-align: center;
  }
}
