.hero {
  height: 60rem;
  width: 100%;
  border-radius: 1rem;
  background: url("../../public/assets/home/desktop/image-hero-coffeepress.jpg"),
    lightgray 0px 0px / 100% 100% no-repeat;
  background-size: cover;
  background-position: center;
  padding-left: 6.64%;
  display: flex;
  align-items: center;
}

.hero__heading {
  width: 49.3rem;
  color: var(--color-cream);
}

.hero__subheading {
  width: 44rem;
  margin: 3.2rem 0 5.6rem;
  color: var(--color-cream);
  opacity: 0.8;
}
