.workflow {
  padding: 20rem 11.72% 20rem 6.64%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.workflow__heading {
  color: var(--color-grey);
  margin-bottom: 8rem;
}

.workflow__progress {
  width: 75.694%;
  margin-bottom: 6.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.workflow__circle {
  width: 3.1rem;
  height: 3.1rem;
  border: 2px solid var(--color-cyan-dark);
  border-radius: 50%;
}

.workflow__circle:nth-child(2) {
  position: relative;
}

.workflow__circle:nth-child(2)::before,
.workflow__circle:nth-child(2)::after {
  position: absolute;
  content: "";
  height: 2px;
  /* width: 35rem; */
  width: calc((52.84vw - 6.2rem) / 2);
  top: 50%;
  background-color: var(--color-orange);
}

.workflow__circle:nth-child(2)::before {
  left: calc(100% + 1px);
}

.workflow__circle:nth-child(2)::after {
  right: calc(100% + 2px);
}

.workflow__description {
  width: 100%;
  display: flex;
  gap: 9.5rem;
  margin-bottom: 6.4rem;
}

@media only screen and (max-width: 1100px) {
  .workflow {
    padding: 14.4rem 0;
  }

  .workflow__heading {
    margin-bottom: 4rem;
  }

  .workflow__progress {
    width: 72.279%;
    margin-bottom: 4.8rem;
  }

  .workflow__circle:nth-child(2)::before,
  .workflow__circle:nth-child(2)::after {
    width: calc((64.84vw - 6.2rem) / 2);
  }

  .workflow__description {
    gap: 5rem;
    margin-bottom: 4.6rem;
  }
}

@media only screen and (max-width: 900px) {
  .workflow__description {
    gap: 1rem;
  }
}

@media only screen and (max-width: 550px) {
  .workflow {
    padding: 12rem 0;
    align-items: center;
  }

  .workflow__heading {
    margin-bottom: 8rem;
  }

  .workflow__progress {
    display: none;
  }

  .workflow__description {
    flex-direction: column;
    gap: 5.6rem;
    margin-bottom: 7.9rem;
  }
}
